@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
header
{
    display: flex;
    justify-content: space-around;
}
header h1
{
    color: white;
    position: relative;
    right: 80px;
}
body
{
    width: 100%;
    background-color: rgb(18,18,18);
    
}

.logo
{
    height: 80px;
    width: 70px;
    position: relative;
    right: 170px;
  
}

.diaporama1
{
    margin:0 auto;
    width: 960px;
    height: 500px;
    border: 3px solid;
    background-image: url(images/images1.png);
    position: relative;
    bottom: 16px;

    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-direction: normal;

    -moz-animation-name: diapo1;
    -moz-animation-duration: 9s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: diapo1;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

@-webkit-keyframes diapo1{

0% 
{
    background-image: url(images/images1.png);
}
33%
{
background-image:url("images/images2.png");
}
66%
{
    background-image: url("images/image3.png");
}
}

@-moz-keyframes diapo1{

    0% 
    {
        background-image: url(images/images1.png);
    }
    33%
    {
    background-image:url("images/images2.png");
    }
    66%
    {
        background-image: url("images/image3.png");
    }
}

@keyframes diapo1{

    0% 
    {
        background-image: url(images/images1.png);
    }
    33%
    {
    background-image:url("images/images2.png");
    }
    66%
    {
        background-image: url("images/image3.png");
    }
}



nav
{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    background-color: rgb(6,6,6);

}

ul
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    font-family: 'Anton', sans-serif;
}

li,a, button
{
    
    font-weight: 500;
    font-size: 45px;
    color: white;
    text-decoration: none;

}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo
{
   
}

.nav__links
{
    list-style: none;
    width: 100%;
}

.nav__links li
{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a
{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover
{
    color: #0088a9;
}

button
{
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    background-color: rgba(0,136,169,1);
    
}

.fleche
{
position: relative;

right: 40px;
bottom: 15px;
transform: rotate( 180deg);


}

#icone
{
    
 height: 100px;
 width: 110px; 
 position:relative;
 left: 50px;

}







